<!--Footer-->
<footer class="page-footer mdb-color text-center text-md-left">

    <!--Footer Links-->
    <div class="container">
        <div class="row">

            <!--First column-->
            <div class="col-md-3 offset-md-1">
                <h5 class="title">Ubicación </h5>
                <p>Costado Norte de la Iglesia de Don Bosco, Ave. 4, contiguo a Beirute
                        San José, Costa Rica.</p>
            </div>
            <!--/.First column-->

            <hr class="hidden-md-up">

            <!--Second column-->
            <div class="col-md-3 offset-md-1">
                <h5 class="title">Contáctenos</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Central: (506) 2222-3008</a>
                    </li>
                    <li>
                        <a href="#!">Negocios: (506) 8428-5769</a>
                    </li>
                    <li>
                        <a href="#!">servicioalcliente@grupomultisol.com</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->

        </div>
    </div>
    <!--/.Footer Links-->


    <!--Copyright-->
    <div class="footer-copyright text-center py-3">
        <div class="container-fluid">
            © 2018 Copyright:
            <a href="https://www.jodevelopers.com"> JODevelopers.com </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
