<div class="view">
  <div class="main">

    <div class="container">
        <div class="row wow fadeInDown" data-wow-delay="0.3s">
            <div class="col-md-12">
              <h1 class="text-white text-center mainTitle">¿Por qué contratarnos?</h1>
              <hr>
              <h5 class="text-white text-center amber-text">Estamos seguros de ser la solución para el mejor aprovechamiento de los recursos de su empresa.</h5>
            </div>
        </div>
    
        <div class="row objects">
          <div class="col-md-6">
            <!--First review-->
            <div class="media mb-1 wow fadeInDown" data-wow-delay="0.4s">
              
                <div class="media-body">
                    <h4 class="media-heading text-right amber-text">FLEXIBILIDAD</h4>
                    <p class="text-right">Nos ajustamos a las necesidades específicas de cada cliente. Entendemos que cada negocio es diferente.</p>
                </div>
                <a type="button" mdbBtn floating="true" size="lg" class="btn-tw waves-light media-left" mdbWavesEffect><i class="fa fa-arrows"></i></a>
            </div>
  
            <!--Second review-->
            <div class="media mb-1 objects wow fadeInDown" data-wow-delay="0.5s">
              
              <div class="media-body">
                  <h4 class="media-heading text-right amber-text">EFICIENCIA Y EFECTIVIDAD</h4>
                  <p class="text-right">Mediante la calidad de nuestros profesionales logramos procesos altamente eficientes y efectivos.</p>
              </div>
              <a type="button" mdbBtn floating="true" size="lg" class="btn-tw waves-light media-left" mdbWavesEffect><i class="fa fa-bolt"></i></a>
            </div>
          </div>
  
          <div class="col-md-6">
            <!--First review-->
            <div class="media mb-1 wow fadeInDown" data-wow-delay="0.4s">
              <a type="button" mdbBtn floating="true" size="lg" class="btn-tw waves-light media-left" mdbWavesEffect><i class="fa fa-money"></i></a>
              <div class="media-body">
                  <h4 class="media-heading amber-text">AHORRE COSTOS</h4>
                  <p>Usted logrará eficiencia en sus costos operativos apoyándose en la experiencia y conocimiento de nuestros profesionales.</p>
              </div>
            </div>
  
            <!--Second review-->
            <div class="media mb-1 objects wow fadeInDown" data-wow-delay="0.5s">
                <a type="button" mdbBtn floating="true" size="lg" class="btn-tw waves-light media-left" mdbWavesEffect><i class="fa fa-briefcase"></i></a>
              <div class="media-body">
                  <h4 class="media-heading amber-text">AGILIDAD Y ESPECIALIZACIÓN</h4>
                  <p>Nuestro equipo profesional altamente experimentado logra procesos ágiles y oportunos</p>
              </div>
            </div>
          </div>
        </div>
    </div>
      
  </div>

</div>
