<div class="main rgba-black-strong">

    <div class="container-fluid">
            
        <div class="row containerCards">
            
            <div class="col-md-4 wow fadeInLeft customCard" data-wow-delay="0.2s">
                <div class="customCard cardServicesMensajeria" >
                    <div class="flex-center" >
                        <div class="text-center cardText wow" [ngClass] ="animationCls1" (mouseover)="changeStyle($event, 1)" (mouseout)="changeStyle($event, 1)">
                            <h3 class="card-title rgba-black-strong"><strong>MENSAJERÍA Y LOGÍSTICA</strong></h3>
                            <a mdbBtn color="white" class="waves-light" mdbWavesEffect routerLink="/service1" ><i class="fa fa-book left"></i> Leer más...</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 wow fadeInLeft customCard" data-wow-delay="0.2s">
                <div class="customCard cardServices" >
                    <div class="flex-center" >
                        <div class="text-center cardText wow" [ngClass] ="animationCls2" (mouseover)="changeStyle($event, 2)" (mouseout)="changeStyle($event, 2)">
                            <h3 class="card-title services-title rgba-black-strong"><strong>NUESTROS SERVICIOS</strong></h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 wow fadeInLeft customCard" data-wow-delay="0.2s">
                <div class="customCard cardMarketing" >
                    <div class="flex-center" >
                        <div class="text-center cardText wow" [ngClass] ="animationCls3" (mouseover)="changeStyle($event, 3)" (mouseout)="changeStyle($event, 3)">
                            <h3 class="card-title rgba-black-strong"><strong>MERCADEO/MARKETING</strong></h3>

                            <!--
                            <p class="text-justify">
                                    Complementamos e impulsamos su área de Mercadeo mediante la exposición de su marca.
                            </p>
                            -->
                            <a mdbBtn color="white" class="waves-light" mdbWavesEffect routerLink="/service1" ><i class="fa fa-book left"></i> Leer más...</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            
            <div class="col-md-4 wow fadeInLeft customCard" data-wow-delay="0.2s">
                <div class="customCard cardMiscelaneus" >
                    <div class="flex-center" >
                        <div class="text-center cardText wow" [ngClass] ="animationCls4" (mouseover)="changeStyle($event, 4)" (mouseout)="changeStyle($event, 4)">
                            <h3 class="card-title rgba-black-strong"><strong>SERVICIOS MISCELÁNEOS</strong></h3>
                            <!--
                            <p class="text-justify">Nuestro personal cuenta con altos valores morales que harán de su oficina un espacio cómodo y agradable.</p>
                            -->
                            <a mdbBtn color="white" class="waves-light" mdbWavesEffect routerLink="/service1" ><i class="fa fa-book left"></i> Leer más...</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 wow fadeInLeft customCard" data-wow-delay="0.2s">
                <div class="customCard cardAdministrative" >
                    <div class="flex-center">
                        <div class="text-center cardText wow" [ngClass] ="animationCls5" (mouseover)="changeStyle($event, 5)" (mouseout)="changeStyle($event, 5)">
                            <h3 class="card-title rgba-black-strong"><strong>SERVICIOS ADMINISTRATIVOS</strong></h3>
                            <!--
                            <p class="text-justify">Contamos con profesionales expertos en las diversas áreas administrativas.</p>
                            -->
                            <a mdbBtn color="white" class="waves-light" mdbWavesEffect routerLink="/service1" ><i class="fa fa-book left"></i> Leer más...</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 wow fadeInLeft customCard" data-wow-delay="0.2s">
                <div class="customCard cardCallCenter" >
                    <div class="flex-center" >
                        <div class="text-center cardText wow" [ngClass] ="animationCls6" (mouseover)="changeStyle($event, 6)" (mouseout)="changeStyle($event, 6)">
                            <h3 class="card-title rgba-black-strong"><strong>CALL CENTER</strong></h3>
                            <!--
                            <p class="text-justify">
                                Contamos con estaciones de trabajo, software, sistema de reportes y personal capacitado.
                            </p>
                            -->
                            <a mdbBtn color="white" class="waves-light" mdbWavesEffect routerLink="/service1" ><i class="fa fa-book left"></i> Leer más...</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
        
  
</div>
