.container{
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.cardTitle{
    font-size: 4vh;
    margin: 1vh;
}

.cardText{
    font-size: 2vh;
}

.cards{
    margin-top: 5vh;
}

.cardSize{
    padding-top: 5vh;
}

.cardImage{
    height: 30vh;
    background-color:#4285F4;
    font-size: 8vh;
}
