<div class="main">

    <div class="container">

        <div class="row  wow fadeInDown" data-wow-delay="0.5s">
            <div class="col-md-12">
                <mdb-card>
                    <mdb-card-header class="primary-color white-text">
                        
                    </mdb-card-header>
                    <mdb-card-body>
                        <mdb-card-title class="cardTitle">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10 text-center">
                                    Servicios Logísticos y de Distribución
                                </div>
                            </div>  
                        </mdb-card-title>
                        <hr>
                        <mdb-card-text>

                            <div class="row">

                              <div class="col-md-1">

                              </div>
                              <div class="col-md-10">
                                  <div class="flex-center text-justify cardText">
                                      Contamos con un equipo de mensajeros que se encargan del contacto personalizado con los 
                                      clientes de nuestros socios. Este servicio constituye una relación de negocios estrecha 
                                      entre el cliente y nuestra compañía, donde se desarrolla toda la logística requerida 
                                      para prestar de manera eficiente servicios específicos, diseñados a la medida de sus necesidades.
                                  </div>
                                 
                              </div>
                            </div>
                            
                        </mdb-card-text>
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>

        <div class="row cards wow fadeInUp" data-wow-delay="0.5s">



            <div class="col-md-6">

                <!--IMAGE-->
                <mdb-card-reveal #cards class="cardSize">
                    <!-- Card front -->
                    <div class="card card-front">
                        <div class="view overlay waves-light" mdbWavesEffect>
                            <img class="card-img-top" src="../../assets/shutterstock/stock-photo-delivery-man-ride-motorcycle-service-fast-and-free-transport-744808339.jpg" alt="Card image cap">
                            <a>
                              <div class="mask rgba-white-slight"></div>
                            </a>  
                        </div>

                    </div>
                    <!--/.Card Front-->
                </mdb-card-reveal>

                <!--MASIVE-->
                <div class="cardSize">

                
                  <mdb-card-reveal #cards class="cardSize">
                      <!-- Card front -->
                      <div class="card card-front">
                        <!--Card image-->
                        <div class="view cardImage overlay waves-light" mdbWavesEffect>
                          <div class="flex-center">

                              <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-server fa-stack-1x fa-inverse"></i>
                              </span>
                          </div>
                        </div>
                        <!--/.Card image-->
                        <!--Card content-->
                        <div class="card-body">
                          <!--Social shares button-->
                          <a class="activator mr-2">
                            <i class="fa fa-share-alt" (click)="cards.toggle()"></i>
                          </a>
                          <!--Title-->
                          <h4 class="card-title">Masiva</h4>
                          <hr>
                          <!--Text-->
                          <div class="card-text">
                              <p>
                                  Realizamos entregas masivas de forma personalizada como:
                              </p>
                              

                              <ul>
                                  <li> Estados de cuenta </li>
                                  <li>Invitaciones a eventos </li>
                                  <li>Suscripciones a revistas o periódicos </li>
                              </ul>

                              <p>
                                  Igualmente podemos hacer entregas que no requieren personalización como lo son:
                              </p>

                              <ul>
                                  <li>Volantes</li>
                                  <li>Muestras</li>
                                  <li>Y todo tipo de material promocional</li>
                              </ul>

                            </div>

                          
                          
                        </div>
                        <!--/.Card content-->
                      </div>
                      <!--/.Card Front-->
                  </mdb-card-reveal>

                </div>


            </div>

            <div class="col-md-6">
                <mdb-card-reveal #cards class="cardSize">
                    <!-- Card front -->
                    <div class="card card-front">
                        <!--Card image-->
                        <div class="view cardImage overlay waves-light" mdbWavesEffect>
                            <div class="flex-center">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-calendar  fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            
                        </div>
                        <!--/.Card image-->
                        <!--Card content-->
                        <div class="card-body">
                          <!--Social shares button-->
                          <a class="activator mr-2">
                            <i class="fa fa-share-alt" (click)="cards.toggle()"></i>
                          </a>
                          <!--Title-->
                          <h4 class="card-title">Programada</h4>
                          <hr>
                          <!--Text-->
                          <div class="card-text">
                              <p>
                                  Esta mensajería es especial para compañías pequeñas o medianas que requieren servicios esporádicos
                                  importantes para el cumplimiento de sus funciones como:
                              </p>

                              <ul>
                                  <li>Envíos personalizados a clientes</li>
                                  <li>Trámites de facturación de cobros</li>
                                  <li> Recolección de papelería o correspondenci </li>
                              </ul>
                              <p>
                                  Como complemento a estos servicios el Grupo MultiSol se compromete a levantar los informes 
                                  y estadísticas que su compañía requiera, con el fin de apoyarle en labores de Inteligencia 
                                  de Negocios y garantizar la buena marcha del proyecto con el objetivo permanente de mejorar 
                                  día con día.
                              </p>
                            
                            </div>

                          
                          
                        </div>
                        <!--/.Card content-->
                    </div>
                    <!--/.Card Front-->
                </mdb-card-reveal>
                

                <div class="cardSize">

                  <mdb-card-reveal #cards class="cardSize">
                      <!-- Card front -->
                      <div class="card card-front">
                          <!--Card image-->
                          <div class="view overlay waves-light" mdbWavesEffect>
                              <div class="view cardImage overlay waves-light" mdbWavesEffect>
                                  <div class="flex-center">
                                      <span class="fa-stack fa-lg">
                                          <i class="fa fa-circle fa-stack-2x"></i>
                                          <i class="fa fa-calendar-check-o   fa-stack-1x fa-inverse"></i>
                                      </span>
                                  </div>
                                  
                              </div>
                          </div>
                          <!--/.Card image-->
                          <!--Card content-->
                          <div class="card-body">
                            <!--Social shares button-->
                            <a class="activator mr-2">
                              <i class="fa fa-share-alt" (click)="cards.toggle()"></i>
                            </a>
                            <!--Title-->
                            <h4 class="card-title">Entrega Certificada </h4>
                            <hr>
                            <!--Text-->
                            <div class="card-text">
                                <p>Entrega y formalización de:</p>
                                <ul>
                                    <li>Tarjetas de crédito</li>
                                    <li>Créditos personales</li>
                                    <li>Contratos de cable</li>
                                    <li>Seguros de cualquier tipo</li>
                                    <li>Pines para uso en cajeros automáticos</li>
                                    <li>Formalización de arreglos de pago, entre otros</li>
                                </ul>
                                <p>Se entrega acuse de recibo al cliente. </p>
                              </div>

                            
                            
                          </div>
                          <!--/.Card content-->
                      </div>
                      <!--/.Card Front-->
                  </mdb-card-reveal>
                </div>
            </div>

            
        </div>
    </div>
</div>
