
<!-- Intro Section  -->
<div class="view">
    <div class="mask rgba-black-strong">
        <div class="flex-center">
            <div class="row">
                <div class="col-md-12">
                    <div class="intro-info-content text-center">
                        <span class="wow fadeInDown introTitulo" data-wow-delay="0.3s">Su Aliado en Outsourcing</span>
                        
                        <hr class="wow fadeInDown" data-wow-delay="0.6s">

                        <h2 class="h4 wow fadeInDown introSlogan" data-wow-delay="0.7s"> Obtenga mejores resultados y reduzca sus costos operativos.</h2>

                        <!--Github-->
                        <div class="wow fadeInDown" data-wow-delay="0.10s">
                            <a type="button" mdbBtn floating="true" size="lg" class=" btn-tw waves-light animated pulse infinite" mdbPageScroll href="#services" mdbWavesEffect><i class="fa fa-angle-down"></i></a>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="services">
    <app-services></app-services>
    <app-section1></app-section1>
    <app-section2></app-section2>
</div>
