<div class="main">
    
    <div class="container">

        <h1 class="text-center wow fadeInDown mainTitle" data-wow-delay="0.3s">Soluciones Empresariales y de Negocio</h1>

        <div class="row">
            <div class="col-md-6 fadeInDown" data-wow-delay="0.4s">
                <img class="img-fluid" src="../../assets/img/carousel/delivery1.jpg" alt="">
            </div>
            <div class="col-md-6">
                <div class="flex-center">
                    <div class="row">
                        <p class="col-md-12 fadeInDown" data-wow-delay="0.5s">
                            Con una trayectoria de más de 8 años, nuestro grupo ha generado un amplio conocimiento del mercado y a su vez una especialización en el tema del Outsourcing, lo que hace que sea una importante opción para suplir aquellas necesidades que su empresa tiene en el área comercial y operativa; donde se garantiza la calidad y competencia del servicio.
                        </p>
                        <p class="col-md-12 parrafo fadeInDown" data-wow-delay="0.6s">
                            Estamos conformados por un equipo multidisciplinario de profesionales altamente capacitados, que cuentan con amplia experiencia en  los servicios que ofrece Grupo MultiSol, tanto a nivel de mercado nacional como internacional, lo que ha permitido aprender e implementar las mejores prácticas internacionales en relación a la lógica de mercado.
                        </p>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
    
</div>