<div class="main">
    <div>

    
        <!--Projects section v.1-->
        <section class="container ">

            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron wow fadeInDown" data-wow-delay="0.3s">
                        <h2 class="h1 h1-responsive wow fadeInDown" data-wow-delay="0.5s">Sobre Nosotros</h2>
                        <hr class="my-2">
                        <div class="jumbotronText  wow fadeInDown" data-wow-delay="0.6s">
                            <p class="lead text-justify">
                                Grupo MultiSol es una compañía costarricense responsable y especializada en brindar servicios auxiliares o complementarios a empresas que están interesadas en innovar y explorar la nueva lógica del mercado o que necesiten ayuda en diversas áreas en que no están especializadas.
                            </p>
                            
                            <div class="lead text-justify">
                                Nuestra prioridad está enfocada en brindar servicios de manera personalizada sensibilizándonos con las necesidades y requerimientos de nuestros clientes. Contamos con personal profesional y altamente capacitado para apoyarle a lograr las metas de su negocio con nuestra fórmula <span class="font-weight-bold">“…ganamos cuando producimos…”</span> y nuestra filosofía <span class="font-weight-bold">“…si al cliente le va bien… a nosotros nos va bien…”</span>.
                            </div>
                        </div>

                        <div class="misionVision">

                            <div class="flex-center">
                                <div>
                                    <!--Card Default-->
                                    <div class="card mdb-color info-color text-center z-depth-2 wow fadeInDown" data-wow-delay="0.8s">
                                        <div class="card-body">
                                            <h2 class="white-text">Misión</h2>
                                            <p class="white-text mb-0">
                                                Satisfacer las necesidades de las empresas por medio de servicios outsourcing, bajo un modelo de costos variables por productividad que garanticen calidad y eficiencia a las empresas que trabajan con nosotros.
                                            </p>
                                        </div>
                                    </div>
                                    <!--/.Card Default-->
                                </div>
                                <div>
                                    <!--Card Info-->
                                    <div class="card success-color text-center z-depth-2 wow fadeInDown" data-wow-delay="0.9s">
                                        <div class="card-body">
                                            <h2 class="white-text">Visión</h2>
                                            <p class="white-text mb-0">Liderar la prestación de servicios outsourcing personalizados a través de todas nuestras ramas de negocio convirtiéndonos en su aliado estratégico, brindando la más alta calidad a todos nuestros clientes y adecuándonos a sus necesidades y requerimientos.</p>
                                        </div>
                                    </div>
                                    <!--/.Card Info-->
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
            
                    <!--Card Primary-->
                    <div class="card indigo text-center z-depth-2  wow fadeInDown" data-wow-delay="0.5s">
                        <div class="card-body">
                            <h2 class="white-text cardText cardText">Excelencia</h2>
                            <p class="white-text mb-0">La calidad llevada al máximo, eso es la excelencia.</p>
                        </div>
                    </div>
                    <!--/.Card Primary-->
                    <br>
                    <!--Card Danger-->
                    <div class="card pink lighten-2 text-center z-depth-2  wow fadeInDown" data-wow-delay="0.5s">
                        <div class="card-body">
                            <h2 class="white-text cardText">Responsabilidad</h2>
                            <p class="white-text mb-0">Con la sociedad y el medio ambiente, no solo nos interesa los beneficios económicos.</p>
                        </div>
                    </div>
                    <!--/.Card Danger-->
                    <br>
                    <!--Card Success-->
                    <div class="card info-color text-center z-depth-2  wow fadeInDown" data-wow-delay="0.5s">
                        <div class="card-body">
                            <h2 class="white-text cardText">Lealtad</h2>
                            <p class="white-text mb-0">Leales y fieles con nuestro equipo y nuestros clientes.</p>
                        </div>
                    </div>
                    <!--/.Card Success-->
            
                </div>

                <div class="col-md-4">
                    <div class="flex-center">
                        <img src="../../assets/img/OurUs.png" alt="" class="img-fluid z-depth-0">
                    </div>
                    
                </div>
            
                <div class="col-md-4">
            
                    <!--Card Warning-->
                    <div class="card red lighten-1 text-center z-depth-2 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="card-body">
                            <h2 class="white-text cardText">Adaptabilidad</h2>
                            <p class="white-text mb-0">El adaptarse trae consigo cosas positivas para nosotros.</p>
                        </div>
                    </div>
                    <!--/.Card Warning-->
                    <br>
                    <!--Card Info-->
                    <div class="card success-color text-center z-depth-2 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="card-body">
                            <h2 class="white-text cardText">Honestidad</h2>
                            <p class="white-text mb-0">Valor humano que implica ser sinceros con uno mismo para luego serlo con nuestros semejantes.</p>
                        </div>
                    </div>
                    <!--/.Card Info-->
                    <br>
                    <!--Card Default-->
                    <div class="card mdb-color lighten-2 text-center z-depth-2 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="card-body ">
                            <h2 class="white-text cardText">Compromiso</h2>
                            <p class="white-text mb-0">Crea generosidad entre las personas y un clima positivo.</p>
                        </div>
                    </div>
                    <!--/.Card Default-->
            
                </div>
            </div>

        </section>
        <!--/Projects section v.1-->

    </div>
</div>

